In [12]:
import pandas as pd

In [13]:
# Read in our files
flights = pd.read_csv("flights.csv")
codes = pd.read_csv("airport-codes.csv")

In [14]:
# Create lat/lon columns
codes[['longitude', 'latitude']] = codes.coordinates.str.extract('(.*), (.*)')
codes.drop(columns=['coordinates'], inplace=True)

In [15]:
flights.head()

                           airport code                    airlines
0  Abu Dhabi, United Arab Emirates  AUH              Etihad Airways
1                     Accra, Ghana  ACC                       Delta
2                    Amman, Jordan  AMM  Alia-(The) Royal Jordanian
3           Amsterdam, Netherlands  AMS                  Klm, Delta
4                     Aruba, Aruba  AUA              Delta, JetBlue

In [16]:
codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,longitude,latitude
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,-74.93360137939453,40.07080078125
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,-101.473911,38.704022
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,-151.695999146,59.94919968
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,-86.77030181884766,34.86479949951172
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,-91.254898,35.6087

In [17]:
# Keep the ones for our flights
subset = codes[codes.iata_code.isin(flights.code)]

In [18]:
# Clean up closed and duplicated airports
subset = subset[subset.type != 'closed']
subset.drop_duplicates(subset='iata_code', inplace=True)

In [19]:
# Save
subset.to_csv("airport-codes-subset2.csv", index=False)